/**********************************************/
/* 											  */
/*				   JÉRÉMY NUNES				  */
/*			  Résolution : 1366*768			  */
/*											  */
/**********************************************/


/************************/
/*						*/
/*	   TITLE OF PAGE    */
/* 				  		*/
/************************/
#title_ref
{
	width: 100%;
	text-align: center;
	margin-top: -2%;
}

#title_ref h1
{
	font-family: 'Concert One', cursive;
	color: black;
	font-size: 2.5em;
}

#title_ref p
{
	font-family: 'Concert One', cursive;
	color: black;
	font-size: 1.1em;
}

/* INSERT BACKGROUND */
body
{
	background: url('background_services.jpg') no-repeat;
	background-size: 100% 100%;
}

/************************/
/*						*/
/*	   CARROUSEL 3D     */
/* 				  		*/
/************************/
#wrapper
{
	margin-top: 4%;
	margin-left: 15%;
	width: 1000px;
	-webkit-perspective: 3000; /* -webkit-perspective : Defines how many pixels a 3D element is placed relative to the view */
}

#plan
{
	width: 450px; /* 450*250 for the pictures, /!\ IF PROBLEM : I add 2px to width & height for see the border (to #plan & .plan) /!\ */
	height: 250px;
	margin: 0 auto;
	-webkit-transform-style: preserve-3d; /* Adds 3D and removes the flat mode */
	-webkit-animation: Carrousel 40s infinite linear reverse; /* Setting up the animation style */
}

.plan
{
	position: absolute; /* To allow the carousel to function correctly, otherwise the design is broken */
	width: 450px;
	height: 250px;
	border: 1px solid black;
}

#plan .p1 { -webkit-transform: translateZ(545px); } /* translateZ : Defines a 3D translation, using only the value for the Z-axis */
#plan .p2 { -webkit-transform: rotateY(45deg) translateZ(545px); } /* rotateY : Defines a 3D rotation along the Y-axis */
#plan .p3 { -webkit-transform: rotateY(90deg) translateZ(545px); }
#plan .p4 { -webkit-transform: rotateY(135deg) translateZ(545px); }
#plan .p5 { -webkit-transform: rotateY(180deg) translateZ(545px); }
#plan .p6 { -webkit-transform: rotateY(225deg) translateZ(545px); }
#plan .p7 { -webkit-transform: rotateY(270deg) translateZ(545px); }
#plan .p8 { -webkit-transform: rotateY(315deg) translateZ(545px); }


@keyframes Carrousel
{
	from { -webkit-transform: rotateY(0); } /* Starting Y-axis from 0 */
	to { -webkit-transform: rotateY(360deg); } /* End on the Y-axis at 360 */
}
/**********************************************/
/* 											  */
/*				  JÉRÉMY NUNES				  */
/*			END OF WORK	OF THIS PART		  */
/*											  */
/**********************************************/


/**********************************************/
/* 											  */
/*				MAXIME GRAND				  */
/*			Résolution : 1920*1080			  */
/*											  */
/**********************************************/