/*Mael: 1600*900 */
/*CSS menu */
Body { margin:0; }
* { box-sizing:border-box; }
a {background-color: transparent; text-decoration: none;}
a:hover,a:active {outline: 0;}

nav{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    height: 100%;
    width: 9%;
    position: fixed;
    background-color: black;
    opacity: 0.8;
    
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85%;
    width: 100%;
    position: absolute;
    top: 15%;
    border: black solid 2px;
}
img[title="logo"]{
    width: 60%;
    height: 10%;
    position: absolute;
    top: 2%;
    left: 20%;
}
#nom_entreprise_logo{
    position: absolute;
    top: 11%;
    left: 30%;
    color: white;
}
li{
    position: relative;
    right: 20%;
    top: 5%;
    text-align: center;
    color: white;
}
.icones{
    width: 50%;
    height: 200%;
    position: absolute;
    bottom: 100%;
    left: 20%;
}

/*Carrousel  */
div#aproposcarrousel{
    width: 91%;
    min-width: 1000px;
    position: absolute;
    left: 9%;
    overflow: hidden;
    height: 100%;
}
div#aproposcarrousel figure{
    width: 304%;
    position: relative;
    padding: 0;
    left:0;
    height: 100%;
    text-align: left;
    margin: 0;
    animation: 60s slidy infinite;
    display: flex;
    
}
div#aproposcarrousel figure div{
    width: 33%;height: auto;min-width: 100px;
}
@keyframes slidy {
  0% { left: 0%; }
  30% { left: 0%; }
  35% { left: -100%; }
  65% { left: -100%; }
  70% { left: -200%; }
  100% { left: -200%; }

}
.carouselleapropos{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.carouselleapropos h1{
    position: relative;
    top: 10%;
}
.carouselleapropos p{
    position: relative;
    top: 30%;
}
#locau iframe{
    position: relative;
    left: 50%;
    top: 10%;
}
#adresse{
    position: relative;
    top: 10%;
}

/* responsive */
@media screen and (min-width: 1601px) and (max-width:1920px)
{
    nav{width: 9%;}
    img[title="logo"]{height: 8%;top:3%;}
    .icones{bottom: 150%;}
}