/*Mael: 1600*900 */
/*CSS menu */
Body { margin:0; }
* { box-sizing:border-box;}
a {background-color: transparent; text-decoration: none;color: white;}
a:hover,a:active {outline: 0;}

/*///////////////////////////////////////////////header ////////////////////////////////////////////////////*/
header{
    display: flex;
}
img[title="logo"]{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 20%;
    left:25%;
}
#nom_entreprise_logo{
    position: absolute;
    top: 70%;
    left: 32%;
    color: white;
}
header #logobloc{
    width: 9%;
    height: 20%;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    border-right: 2px solid black;
    border-top: 2px solid black;
}
#langue{
    width: 3%;
    height: 10%;
    position: absolute;
    right: 2%;
}
#flagenglish{
    position: absolute;
    top: 35%;
    right: 0%;
    opacity: 0;
    z-index: 10;
}
header ul{
    list-style-type: none;
}
#langue:hover #flagenglish{
    opacity: 1;
}
/*////////////////////////////////////////////////Nav //////////////////////////////////////////////////////*/
nav{
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    height: 80%;
    width: 9%;
    position: fixed;
    background-color: rgba(0,0,0,0.7) ;
    bottom: 0;
    position: absolute;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
nav li{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.menutext{
    width: 100%;
    display: inline-flex;
}
                                        /*svg icone menu */
.icones{
    display: inline-flex;
    width: 60%;
    height: 10%;
}

/*///////////////////////////////////////////Carrousel  ////////////////////////////////////////////////////*/
div#aproposcarrousel{
    width: 91%;
    min-width: 1000px;
    position: absolute;
    left: 9%;
    overflow: hidden;
    height: 100%;
}
div#aproposcarrousel figure{
    width: 304%;
    position: relative;
    padding: 0;
    left:0;
    height: 100%;
    text-align: left;
    margin: 0;
    animation: 60s slidy infinite;
    display: flex;
    
}
div#aproposcarrousel figure div{
    width: 33%;height: auto;min-width: 100px;
}
@keyframes slidy {
  0% { left: 0%; }
  30% { left: 0%; }
  35% { left: -100%; }
  65% { left: -100%; }
  70% { left: -200%; }
  100% { left: -200%; }

}
/*1er page carrouselle*/
.carouselleapropos{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.carouselleapropos h1{
    position: relative;
    top: 10%;
}
.carouselleapropos p{
    position: relative;
    top: 30%;
}
/*carrouselle deuxieme page*/
#contributeur{
  display: flex;
  position: relative;
  left: 40%;
  top: 5%;
}
.collegue{
  overflow: hidden;
  height: 10%;
  display: flex;
  flex-direction: column;
}
.nom{
  top: 15%;
}
.collegue:hover .nom {
  top: 5%;
}
/*carrouselle derniere page*/
#locau iframe{
    position: relative;
    left: 50%;
    top: 10%;
}
#adresse{
    position: relative;
    top: 10%;
}

/* responsive */
@media screen and (min-width: 1601px) and (max-width:1920px)
{
    nav{width: 9%;}
    img[title="logo"]{height: 8%;top:3%;}
}
@media screen and (min-width: 1200px) and (max-width:1599px){
    nav{width: 11%;}
    header #logobloc{width: 11%;}
}
@media screen and (min-width: 700px) and (max-width:1199px){
    nav{width: 13%;}
    header #logobloc{width: 13%;}
}
@media screen and (min-width: 350px) and (max-width:699px){
    nav{width: 15%;}
    header #logobloc{width: 15%;}
}